<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finddog">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
      >
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="label" />
        <activity android:name=".profileJ" />
        <activity android:name=".SingleAdopt"></activity>
        <activity android:name=".SingleMissing" />
        <activity android:name=".viewProfile" />
        <activity android:name=".addPostAdopt" />
        <activity android:name=".allAdoptPost" />
        <activity android:name=".editProfileJ" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginJ" />
        <activity android:name=".registerJ" />
        <activity android:name=".detaildogJava" />
        <activity android:name=".showPicAndML" />
        <activity android:name=".AllMissingPost" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDNERQwxMMdmzi8oI2WvSku_bOKjX2nm4A"/>
    </application>

</manifest>